* {
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  font-size: 87.5%; //this defines what 1rem is - 14/16px = 87,5%
  line-height: 1.29rem; //18px
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: $color-black;

  @include respond(small-device) {
    font-size: 1rem;
    line-height: 1.29rem;
  }

  @include respond(medium-device) {
    font-size: 1.18rem;
    line-height: 1.5rem;
  }

  @include respond(large-device) {
    font-size: 1.29rem;
    line-height: 1.71rem;
  }

  @include respond(extra-large-device) {
    font-size: 1.47rem;
    line-height: 1.95rem;
  }
  
  @include respond(very-large-desktop-device) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

body {
  background: $color-light-grey-2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $color-white;
  text-decoration: none;
}