.footer {
    background-color: $color-black;
    padding-bottom: 4rem;
    font-size: 14px;
    line-height: 18px;

    @include respond(large-device) {
        padding-top: 4rem;
    }

    &-logo {
        height: 35px;
        filter: invert(1);
        margin: 4.36rem 0 0 1.86rem;

        @include respond(large-device) {
            height: 4rem;
            margin: 0;
        }
    }

    &-heading {
        color: $color-white;
        margin: 0;

        @include respond(large-device) {
            margin-bottom: 0.5rem;
        }

        &-container {
            margin: 0 0 0 1.57rem;

            @include respond(large-device) {
                height: 4rem;
                margin-right: 4rem;
            }
        }
    }

    &-subhead {
        color: $color-white;
        font-size: 18px;
        line-height: 1.17rem; //21.09px
        font-weight: 400;
    }

    &-info {
        @include respond(large-device) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            max-width: 100%;
        }

        &-1{
            display: flex;
            margin-left: 1.43rem;
            
            @include respond(large-device) {
                flex-direction: column;
                margin-top: 4rem;
            }
        }

        &-2 {
            display: flex;
            margin-left: 1.43rem;

            @include respond(large-device) {
                flex-direction: row-reverse;
                margin-top: 3.7rem;
            }
        }

        &-box {
            color: $color-white;
            width: 11.14rem;
            margin-top: 2.29rem;
        }
    }


}