.navigation {
    z-index: 1000;
    visibility: hidden;
    position: fixed;

    @include respond(large-device) {
        visibility: visible;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 0.4rem;
        max-width: 100%;

        &-shoppingcart {
            filter: invert(1);

            &-black {
                filter: none;
            }
        }

        &-link {
            margin-right: 4.71rem;
            display: flex;
            list-style-type: none;       
            
            &-text {
                position: relative;
                margin-left: 2.5rem;
                
                &-black {
                    position: relative;
                    color: $color-black;
                    margin-left: 2.5rem;

                    &:active {
                        text-decoration: underline;
                    }
    
                    &:before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: $color-black;
                        visibility: hidden;
                        transition: all 0.3s ease-in-out;
                    }
    
                    &:hover {
                        &:before {
                            visibility: visible;
                            width: 100%;
                        }
                    }
                }

                &:active {
                    text-decoration: underline;
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $color-white;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    &:before {
                        visibility: visible;
                        width: 100%;
                    }
                }

                &-active {
                    text-decoration: underline;
                }
            }
        }
    }

    &-mobile {
        z-index: 2000;
        visibility: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        background-image: radial-gradient($color-black, $color-black);
        
        &-icon {
            
            &-burger {
                @include respond(large-device) {
                    visibility: hidden;
                }

                filter: invert(1);
                visibility: visible;
                position: fixed;
                top: 4%;
                left: 90%;
            }

            &-close {
                z-index: 3000;
                filter: invert(1);
                visibility: hidden;
                position: fixed;
                top: 4%;
                left: 90%;
            }
        }

        &-list {
            list-style: none;
            color: $color-white;
            margin: 30% 20% 10% 40%;

            &-container {
            }
        }
    }
}