.gebaeck {
    margin: 10% 5% 10% 5%;

    @include respond(large-device) {
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }

    &-text {
        @include respond(large-device) {
            width: 50vw;
        }
    }
}

.galerie {
    margin: 10% 5% 10% 5%;

    &-m {
        width: 100%;
        display: grid;
        grid-gap: 1rem;
        
        grid-template-areas:
            "danish latteart2"
            "machine latteart2"
            "machine breakfast"
            "machine breakfast"
            "latteart breakfast"
            "latteart breakfast"
            "latteart liste"
            "latteart liste"
            "sign liste"
            "sign latteart3";

        @include respond(large-device) {
            display: none;
        }

        & > * {
            width: 100%;
        }
    }

    &-d {
        display: none;
        
        @include respond(large-device) {
            width: 100%;
            display: grid;
            grid-gap: 1rem;

            grid-template-areas:
            "danish latteart2 machine liste"
            "danish latteart2 latteart liste"
            "sign latteart2 latteart liste"
            "sign latteart3 latteart breakfast";

            & > * {
                width: 100%;
            }
        }
    }

    &-danish {
        grid-area: danish;
    }

    &-machine {
        grid-area: machine;
    }

    &-breakfast1 {
        grid-area: breakfast;
    }

    &-list {
        grid-area: liste;
    }

    &-sign {
        grid-area: sign;
    }

    &-latteart1 {
        grid-area: latteart;
    }

    &-latteart2 {
        grid-area: latteart2;
    }

    &-latteart3 {
        grid-area: latteart3;
    }
}