$color-white: #FFFFFF;
$color-black: #000000;
$color-anthrazit: #1A1A1A;
$color-kraftpapier: #D7BE9D;
$color-petrol: #b3b3b3;
$color-medium-grey: #737373;
$color-light-grey: #E9E9E9;
$button-color-link: #1A1A1A;
$button-color-hover: #3A3734;
$button-color-active: #D7BE9D;